[DXR]
wwwroot=/
target_folder=/home/nick/dxr/src/rust
temp_folder=/home/nick/dxr/src/rust/temp
disabled_plugins=clang
nb_jobs=8
filter_language=Rust

[rust]
wwwroot=/
source_folder=/home/nick/rust/src
object_folder=/home/nick/dxr/src/rust/obj
#rustc-stage2
build_command=$source_folder/../configure && make -j$jobs
# Use github issues for bug numbers
plugin_buglink_name=github
plugin_buglink_url=https://github.com/mozilla/rust/issues/%s
plugin_buglink_regex=#([0-9]+)
ignore_patterns=/compiler-rt/ /compiletest/ /doc/ /etc/ /gyp/
